mat-toolbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(132, 137, 61);

}

mat-icon{
    cursor: pointer;
}

.menu{
    border: none;
    background-color: rgb(132, 137, 61);
}

#logo{
    cursor: pointer;
}